# ====================
# =     Globals      =
# ====================
/.vscode
/node_modules/
/report/

# ====================
# =      Client      =
# ====================
# Folder
/apps/client/build
/apps/client/node_modules/

# Files
/apps/client/.env
/apps/client/tsBuildInfo.json

# ====================
# =      Server      =
# ====================
# Folders
/apps/server/build/
/apps/server/node_modules/

# Env Files
/apps/server/.env
/apps/server/.env.test

# ====================
# =      Docker      =
# ====================
# Env Files
/docker/.env

# ====================
# =      Common      =
# ====================
# Folders
/packages/common/node_modules/

# ====================
# =  Design system   =
# ====================
# Folders
/packages/design-system/build/
/packages/design-system/node_modules/

# ====================
# =  Eslint config   =
# ====================
# Folders
/packages/eslint-config/node_modules/

# ====================
# =      Specs       =
# ====================
# Folders
/packages/specs/node_modules/
