
# === Globals ===
/.vscode
/node_modules/

# === Client ===
# Folder
/apps/client/build
/apps/client/node_modules/
/apps/client/report/

# Files
/apps/client/.env
/apps/client/tsBuildInfo.json

# === Server ===
# Folders
/apps/server/build/
/apps/server/node_modules/
/apps/server/report/

# Env Files
/apps/server/.env
/apps/server/.env.test

# === Docker ===
# Env Files
/docker/.env

# === Design system ===
# Folders
/packages/design-system/build/
/packages/design-system/node_modules/

# === Eslint config ===
# Folders
/packages/eslint-config/node_modules/

# === Specs ===
# Folders
/packages/specs/node_modules/
