.dropdown {
  z-index: 10;
  position: absolute;
  background-color: var(--theme-colorSurface);
  color: var(--theme-colorText);
  max-height: 400px;
  overflow-y: auto;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding-block: var(--theme-spaceS);
  gap: var(--theme-spaceS);

  .dropdown_search_input {
    width: 100%;
    padding: 5px 10px;
    background-color: var(--theme-colorSurfaceSunken);
    color: var(--theme-colorText);
  }

  .select_item {
    width: 100%;
    padding: 4px 13px;

    &:focus,
    &:hover {
      background-color: var(--theme-colorSurfaceRaised);
    }

    &.selected_item {
      background-color: var(--theme-colorPrimarySubtle);
      color: var(--theme-colorPrimaryStrong);

      &:focus,
      &:hover {
        background-color: var(--theme-colorPrimaryHue);
        color: var(--theme-colorPrimaryContent);
      }
    }
  }
}
