.button_select {
  background-color: var(--theme-colorSurfaceRaised);
  border: 2px solid var(--theme-colorBorder);
  color: var(--theme-colorText);
  padding: 4px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;

  .selector_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
  }
}
