.modalContainer {
  background-color: var(--theme-colorSurface);
  color: var(--theme-colorText);
  padding: var(--theme-spaceL);
  display: flex;
  flex-direction: column;
  gap: var(--theme-spaceS);

  .modalFooter {
    display: flex;
    justify-content: space-between;
  }
}
