.inputTextContainer {
  display: flex;
  align-items: center;
  gap: var(--theme-spaceS);

  .inputText {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 0.1rem solid var(--theme-colorBorder);
    background-color: var(--theme-colorSurface);
    color: var(--theme-colorText);
    font-size: var(--theme-fontSizeM);
  }
}
